<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Le toggle Css avec Vue</title>
	<title>V-on</title>
	<style>
		.box{
            background-color: crimson;
            width: 250px; height: 300px;
            
        }
        .red{
            background-color: blue;
        }
		.border{
			border: 10px dotted yellow;
		}
		.border2{
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<div class="MyApp">
        Toggle color CSS
		<div v-bind:class="[myObjet, toggleColor ? 'border2' : 'border']"  class="box ">

        </div>
        <button v-on:click="toggleColor = !toggleColor" >Toggle la couleur</button>
        <button v-on:click="bordure = !bordure" >Appliquer la bordure</button>

		<template v-if="bool" >
			<ul>
				<li v-for="(name, i) in names">{{i+1}} : {{name}}</li>
			</ul>
		</template>

		<br>
		<p :style="{color:'red'}" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, tenetur.</p>
		<p :style="myStyle" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi blanditiis animi, doloremque hic sequi doloribus veritatis consequatur ipsa atque!/p>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '.MyApp',
            data:{
                toggleColor:  false,
				bordure: false,
				color: 'aqua',
				width: '200px',
				names: ['saliou', 'Mohamdou','Djibril','Ousseynou'],
				bool: true

            },
			computed:{
				myObjet:function(){
					return{
						red : this.toggleColor,
						border: this.bordure
					}
				},
				myStyle: function(){
					return {
						color : this.color,
						width: this.width
					}
				}
			}
		}) 
	</script>
	
</body>
</html>